##Import packages & load data

In [51]:
import pandas as pd
import numpy as np
from numpy import where

#!pip install autoimpute
from autoimpute.imputations import SingleImputer

from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Read the excel dataset
df = pd.read_excel('/content/drive/MyDrive/MMAI/Finance/Alfred_Dataset.xlsx')

In [6]:
# check sample
print(df.shape)
df.head(3)

(180, 36)

        Date  ...  1Y_Bachelors_Degree_Ontario_NewReg
0 2006-01-01  ...                               11928
1 2006-02-01  ...                               11928
2 2006-03-01  ...                               11928

[3 rows x 36 columns]

In [7]:
# New column for date year
df['Year'] = df['Date'].dt.year

##Prepare training data

In [31]:
def traintest(x):
  train = df.iloc[:int(-(df.shape[0]*(x))),:]
  test = df.iloc[int(-(df.shape[0]*(x))):,:]
  print('Train:',train.shape, train['Date'].min(), 'to', train['Date'].max())
  print('Test:',test.shape, test['Date'].min(), 'to', test['Date'].max())
  return train, test
train,test = traintest(0.15)

Train: (153, 37) 2006-01-01 00:00:00 to 2018-09-01 00:00:00
Test: (27, 37) 2018-10-01 00:00:00 to 2020-12-01 00:00:00

In [39]:
# Removing date feature and create target
X_train = train.drop(columns=['Date','Target_GreaterToronto_Single_Family_HPI'])#, axis='columns', inplace=True)
y_train = train['Target_GreaterToronto_Single_Family_HPI']

In [44]:
# Autoimpute and overwrite X train
print("Imputing missing data in one line of code with the default SingleImputer")
imputer = SingleImputer(strategy="mean")
X_train = imputer.fit_transform(X_train)
print("Imputation Successful!")

Imputing missing data in one line of code with the default SingleImputer
Imputation Successful!

In [52]:
# Standardize
scaler = MinMaxScaler()
X_train_scaled = pd.DataFrame(scaler.fit_transform(X_train),columns=X_train.columns)